[submodule "Torch-lua"]
	path = Torch-lua
	url = https://github.com/alemme/luatorch-nnsae.git
[submodule "Matlab"]
	path = Matlab
	url = https://github.com/alemme/matlab-nnsae.git
[submodule "Python"]
	path = Python
	url = https://github.com/alemme/py-nnsae.git
